.center {
    text-align: center;

}
.homewallpaper{
    background-size: cover;
    width: 100%;
    height: 75vh;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 77%, rgba(0,0,0,0));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 77%, rgba(0,0,0,0));
}
.main{
    height: 15vh;
}
.background{
    background-color: white;
}

.news{
    margin-left: 5%;
    display: grid;
    grid: 60vh / auto auto auto;
    grid-gap: 10px;
}

.newscontainer{
    background-color: white;
    border-radius: 10px;
    height: 55vh;
    width: 40vh;
    transition: transform 0.8s;
    white-space: pre-line;
    word-wrap: break-word;
    overflow:hidden;
    cursor: pointer;
    border: 1px black solid;
}
.newsimg:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 5px grey, -2px -2px 5px grey;
}
.newsimg{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    max-height: 50%;
    width: 100%;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 77%, rgba(0,0,0,0));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 77%, rgba(0,0,0,0));

    transition: transform 0.8s;

}
.newsheadline{
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    font-family: FontOne;
}
.newsblurb{
    margin-top: 2%;
    font-size: 1.3em;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    white-space: pre-line;
    word-wrap: break-word;
    font-family: FontTwo;
}



@font-face{
    font-family: FontOne;
    src: url(../resources/Roboto-Regular.ttf);
}
@font-face{
    font-family: FontTwo;
    src: url(../resources/Roboto-Light.ttf);
}

@font-face{
    font-family: FontThree;
    src: url(../resources/PlayfairDisplay-MediumItalic.ttf);
}
@font-face{
    font-family: FontFour;
    src: url(../resources/PlayfairDisplay-Regular.ttf);
}
