.center {
    text-align: center;
}
.loginbuttons{
    float: right;
    margin-right: 1%;
    font-size: 1.3em;
}

.badge{
    float: left;
    height: 6.5vh;
    width: 6.5vh;
    margin-right: 2vh;
    margin-left: 2vh;
    cursor: pointer;

}

.mybutton {
    background-color: #ba0517; 
    color: white;
    padding: 0.7em 1.7em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    margin: 0.25em 0.25em;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    font-family: navBarFont
  }
  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #ba0517;
  }
  
  .button3:hover {
    background-color: #ba0517;
    color: white;

}
.welcomeuser{
  display: inline-block;
  color: white;
  margin: 0.3em 0.3em;

}

.overlay {
  margin-top: 3.5%;
}


.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}


.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 2vh 3vh;
  text-decoration: none;
  font-size: 1.8vh;
}


.navbar a:hover {
  background: white;
  color: black;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
}
.slds-input{
  margin-right: 20%;
}





@font-face{
    font-family: navBarFont;
    src: url(../resources/Roboto-Regular.ttf);
}
/*
@font-face{
    font-family: mySecondFont;
    src: url(../resources/Roboto-Light.ttf);
}

@font-face{
    font-family: myThirdFont;
    src: url(../resources/PlayfairDisplay-MediumItalic.ttf);
}
@font-face{
    font-family: myFourthFont;
    src: url(../resources/PlayfairDisplay-Regular.ttf);
}
*/